body{
  background-color: grey;
}
#form{
  background-color: white;
  position: absolute;
  top:8%;
  left: 15%;
  width: 70%;
  padding: 10px;
}
#form * {
    vertical-align: middle;
}
#contactAddress{
  width: 300px;
  resize: none;
}
#form input[type=text], #form input[type=email] {
    width: 300px;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
}
#form input[type=file]{
  padding: 5px 5px;
  margin: 8px 0;
}
.form-label{
  width:200px !important;
  font-weight: bold;
  display: inline-block;

}
#upload-demo{
  height: 400px;
  width: 600px;
  background-color: grey;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    margin: 5% auto;
    width: 600px; /* Could be more or less, depending on screen size */
}
.modal-footer {
    padding: 2px 16px;
    background-color: background-color:rgba(0, 0, 0, 0.4);
    display: block;
        overflow:hidden ; /* minds inside and outside floatting elements, fine if no size given */
}
/* The Close Button */

  #cropUpload {
    float: left;
	background-color:#44c767;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:27px;
	font-weight:bold;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
#cropUpload:hover {
	background-color:#59bd81;
}
#cropUpload:active {
	position:relative;
	top:1px;
}

.close {
  float: right;
	background-color:#c74a45;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #ab3719;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	font-size:27px;
	font-weight:bold;
	padding:10px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #912012;
}
.close:hover {
	background-color:#c93e26;
}
.close:active {
	position:relative;
	top:1px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
